@import url('https://fonts.cdnfonts.com/css/sf-intermosaic');

:root {
    --SiteColor: #257BE6;
    --Header: url("images/header.png");
    --Footer: url("images/footer-bg.gif");
    --CharSelect: url("images/charselect.png");
    --CharColor: #0080d0;
    
    /* 🌀🌀🌀🌀Player🌀🌀🌀🌀 */
    --Idle:  url("sprites/sonic-idle.gif");
    --Start: url("sprites/sonic-start.gif");
    --Run: url("sprites/sonic-run.gif");
    --Jump: url("sprites/sonic-jump.gif");
    --DoubleJump: url("sprites/sonic-doublejump.gif");
    --Damage: url("sprites/sonic-damage.gif");
    --Death: url("sprites/sonic-death.gif");
}

/* 🌐🌐🌐🌐Site🌐🌐🌐🌐 */
html {
    scroll-behavior: smooth;
    overflow-x: clip;
    overscroll-behavior: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
}

/* 🚧🚧🚧🚧Body🚧🚧🚧🚧 */
body {
    background:  var(--SiteColor);
    line-height: 1.2;
    min-height: 100vh;
}

header {
    background-image: var(--Header);
    background-size: auto 30vh;
    background-repeat: repeat-x ;
    width: 100%;
    height: 30vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    color: white;
}

header img {
    width: 40vh;
    height: 24vh;
}

.subheader {
    background-image: var(--Footer);
    height: 2vh;
    width: 100%;
    position: static;
    padding-top: 10px;
    margin-bottom: 50px;
}

footer {
	padding: 30px;
    width: 100%;
    height: 100%;
    margin-top: 2vh;
    text-align: center;
    background-image: var(--Footer);
    position: static;
    color: white;
}

footer .social-media {
    margin-top: 3vh;
    font-size: 10vh;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
    text-shadow: none;
    font-size: 2.3vh;
    line-height: 1.2em;
    padding-right: 40px !important;
    padding-left: 40px !important;
    margin-top: 1vh;
    word-wrap: break-word;
}

.sega {
    height: 10vh;
    margin-top: 6vh;
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sega img {
    width: auto;
    height: 8vh;
}

.img-section {
    width: 20%;
    text-align: center;
}

.sidenav {
    background-image: url("images/menu_bg.webp");
    background-size: auto 120%;
    font-family: Arial,Helvetica,sans-serif;
    height: 0;
    width: 0; 
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden;
    transition: 0.5s; 
    text-align: center;
    z-index: 22;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 3vh;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav .title {
    background-color: #142038;
    color: #7996a7;
    width: 100%;
    height: 5vh;
    font-size: 4vh;
    margin-top: 1.5vh;
    margin-bottom: 2vh;
    font-weight: 600;
    align-items: center;
    justify-content: baseline;
}

#closebtn {
    font-size: 5vh;
}

.sidenav a:hover {
    cursor: pointer;
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0.5vh;
}

.selectMusic {
    background-image: url("images/menu_bg.webp");
    background-size: auto 120%;
    background-position-x: right;
    font-family: 'SF Intermosaic', sans-serif;
    height: 0;
    width: 25%; 
    position: fixed; 
    top: 0; 
    left: 25%;
    justify-content: center;
    align-items: center;
    background-color: #111; 
    overflow-x: hidden;
    transition: 0.5s; 
    z-index: 22;
}

.selectMusic .majorTitle {
    background-color: #142038;
    color: #7996a7;
    width: 100%;
    height: 5vh;
    font-size: 3vh;
    font-weight: 600;
    margin-top: 1.5vh;
    align-items: center;
    justify-content: center;
}

.selectMusic .title {
    background-color: #142038;
    align-items: center;
    text-align: center;
    font-weight: 600;
    justify-content: center;
    margin-top: 1.5vh;
    margin-bottom: 2vh;
    width: 100%;
    height: 6.5vh;
}

.selectMusic button {
    padding: 8px 8px 8px 32px;
    width: 100%;
    text-decoration: none;
    font-size: 3vh;
    color: white;
    display: block;
    transition: 0.3s;
    background: transparent;
}

.selectMusic button:hover {
    cursor: pointer;
    color: #f1f1f1;
}

.settings {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    height: 20vh;
    padding: 0;
    width: 20vh;
    z-index: 20;
    rotate: 90deg;
}

.cog {
    width: 100%;
    height: auto;
    background-color: transparent;
    border: 0;
    color: azure;
    position: absolute;
    display: flex;
    text-align: left;
    align-items: center;
}

.cog p {
    position: absolute;
    font-size: 8vh;
    bottom: 0;
    right: 50%;
    cursor: pointer;
}

.triangle {
    width: 100%;
    height: auto;
    fill: #142038;
    top: 0;
    left: 0;
    border: 0;
}


/* 🎮🎮🎮🎮Game🎮🎮🎮🎮 */
.area {
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-bottom: 70px;
    font-family: 'SF Intermosaic', sans-serif;
    font-size: 3vh;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

#play-txt {
    text-align: center;
    color: azure;
    animation: press 2s infinite ease-in-out;
}

.extra {
    width: 100%;
    height: auto;
    bottom: 0;
    text-align: center;
    color: azure;
    opacity: 0.5;
}

@keyframes press {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2.5vh;
    width: 18vh;
    height: 10vh;
    background-color: #2058b6;
    border: 1px solid black;
    border-radius: 0.7vh;
    opacity: 0.8;
    position: absolute;
    z-index: 4;
}

.game {
    width: 55%;
    height: 42vh;
    background-image: url("sprites/background.gif");
    background-size: 75vh 100%;
    background-repeat: repeat-x;
    border-radius: 1.5vh;
    margin: auto;
    z-index: -4;
}

.game .left-wall {
    height: 110%;
    width: 22.5%;
    left: 0;
    background:  var(--SiteColor);
    margin: auto;
    position: absolute;
    z-index: 1000;
}

.game .right-wall {
    height: 110%;
    width: 22.5%;
    right: 0;
    background:  var(--SiteColor);
    margin: auto;
    position: absolute;
    z-index: 1000;
}

.layout {
    width: 100%;
    height: 2vh;
    display: flex;
    flex-direction: row;
    margin-top: 1.5vh;
    z-index: 4;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 4vh;
}

.alive {
    width: 95%;
    display: flex;
    position: absolute;
    align-items: baseline;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: absolute;
    top: 3.5vh;
    left: 2vh;
    width: 30%;
    height: 10vh;
}

.score {
    font-family: 'SF Intermosaic', sans-serif;
    font-size: 5vh;
    color:#103563;
    height: 3vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 1.5vh;
    z-index: 4;
}

.score img {
    width: 30%;
}

#points {
    margin-left: 0.2em;
}

.scoreAnimation {
    animation: press 2s 3 ease-in-out;
}

.rings {
    color:#103563;
    height: 8vh;
    width: 10vh;
    display: flex;
    z-index: 4;
}

.rings img {
    width: 85%;
}

#lifes {
    background-image: url("sprites/3.png");
    background-size: 4vh 4vh;
    height: 5.5vh;
    width: 4vh;
    right: 0;
    display: flex;
    background-repeat: no-repeat;
}

.gameover {
    width: 100%;
    top: 38%;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    display: flex;
    font-family: 'SF Intermosaic', sans-serif;
    font-size: 3vh;
    z-index: 30;
}

.restart {
    width: 80vh;
    height: 55vh;
    margin: auto;
    border-radius: 1.5vh;
    background: url("images/footer-bg-dark.gif");
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: azure;
    opacity: 0.9;
}

.restart button {
    position: relative;
    margin-top: 2vh;
    background-color: #142038;
    color: azure;
    border-color: azure;
}

.restart a {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.restart img {
    opacity: 1;
}

#newhighscore {
    animation: highscore 1s infinite linear;
}

@keyframes highscore {
    0% {
        color:darkgoldenrod
    }
    50% {
        color: azure;
    }
    100% {
        color:darkgoldenrod
    }
}

.select-area {
    width: 100%;
    height: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20vh;
}

.select {
    position: relative;
    background: url('images/select-a-character.png');
    background-size: 100% 10vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #606060;
    border: #3B3B3B 3.5px outset;
    width: 60vh;
    height: 10vh;
    margin-left: 5vh;
    margin-right: 5vh;
    cursor: pointer;
    z-index: 18;
}

.charOpt {
    width: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background: var(--CharSelect);
    background-size: auto 101%;
    background-repeat: repeat-x;
    border: 0px outset #0050a8;
    margin-top: 2vh;
    transition: 0.5s;
}

.charOpt a {
    text-decoration: none;
    color: azure;
}

.mobile {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}

.charOpt p {
    font-size: 4vh;
    font-family: 'SF Intermosaic', sans-serif;
    text-align: center;
    color: azure;
}

#extraInfo {
    font-size: 3vh;
    opacity: 0.8;
}

.charClose {
    width: 20vh;
    height: 8vh;
    font-size: 3vh;
    background-color: var(--CharColor);
    border: 3px solid black;
    font-family: 'SF Intermosaic', sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: azure;
    margin-top: 3vh;
    cursor: pointer;
}

.char {
    position: relative;
    width: 20vh;
    height: 10vh;
    background-color: var(--CharColor);
    border: 3px solid black;
    margin-top: 2vh;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 3vh;
    cursor: pointer;
}

.charRow {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
}

/* 🌀🌀🌀🌀Player🌀🌀🌀🌀 */
#sonic {
    width: 10vh;
    height: 10vh;
    background-image: var(--Idle);
    background-size: 10vh 10vh;
    background-repeat: no-repeat;
    position: relative;
    top: 23vh;
    left: 1vh;
    z-index: 3;
    transition: none;
}

.run {
    animation: run 4s linear running;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

@keyframes run {
    0% {
        background-image: var(--Start);
        left: 1vh;
    }
    25% {
        left: 14vh;
    }
    50% {
        left: 31vh;
    }
    75% {
        left: 14vh;
    }
    100% {
        background-image: var(--Run);
        left: 1vh;
    }
}

.jump {
    animation: jump 0.40s linear;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

@keyframes jump {
    0% {
        background-image: var(--Jump);
        top: 23vh;
    }
    10% {
        top: 18.6vh;
    }
    20% {
        top: 11vh;
    }
    25% {
        top: 11vh;
    }
    50% {
        top: 11vh;
    }
    75% {
        top: 11vh;
    }
    90% {
        background-image: var(--Jump);
        top: 18.6vh;
    }
    100% {
        top: 23vh;
    }
}

/* 🐞🐞🐞🐞Obstacle🐞🐞🐞🐞 */
.ground-enemy {
    height: 5vh;
    position: static;
}
.flying-enemy {
    width: 100%;
    height: 5vh;
    position: absolute;
}

.obstacle {
    width: 8vh;
    height: 7vh;
    background-repeat: no-repeat;
    position: absolute;
    left: 100%;
    z-index: 1;
}

#badnik1 {
    background-size: 7.7vh 7vh;
}

#badnik2 {
    bottom: 13vh;
    width: 10vh;
    background-size: 10vh 7vh;
}

.block {
    animation: block 1 linear;
    animation-duration: 3s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background-image: url('sprites/badnik1.gif');
}

.flying {
    animation: block 1 linear;
    animation-duration: 3s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background-image: url('sprites/badnik2.gif');
}

@keyframes block {
    0%{
        left: 120%;
    }
    100% {
        left: -30%;
    }
}

/* 🌴🌴🌴🌴Background Objects🌴🌴🌴🌴 */
.objects-bg {
    width: 100%;
    height: 36.5%;
    position: relative;
}

.objects-bg img {
    width: 100%;
}

.object {
    background-repeat: no-repeat;
    background-size: 75% 100%;
    width: 50%;
    height: 165%;
    left: 100%;
    top: 0;
    z-index: -2;
    position: absolute;
}

#bg-object1, #bg-object2 {
    z-index: -3;
}

.move {
    animation: moving 1 linear;
    animation-duration: 2.5s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

@keyframes moving {
    100% {
        left: -55%;
    }
    
}

/* 🏞️🏞️🏞️🏞️Ground🏞️🏞️🏞️🏞️ */
#ground {
    background-image: url("sprites/ground.png");
    background-size: 34vh 100%;
    border-radius: 1.5vh;
    position: relative;
    width: 100%;
    height: 12.4vh;
    z-index: -1;
}

/* ♻️♻️♻️♻️Loading♻️♻️♻️♻️ */
.load-wrapper {
    display: block;
    position: absolute;
    z-index: -2;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #103563;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.load {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    animation: rotate 3s infinite;
}

.load img {
    width: 100%;
}

@keyframes rotate {
  50% {
      -ms-transform: rotateY(0.5turn);
      -moz-transform: rotateY(0.5turn);
      -webkit-transform: rotateY(0.5turn);
      transform: rotateY(0.5turn);
  }
  100% {
    -ms-transform: rotateY(1turn);
    -moz-transform: rotateY(1turn);
    -webkit-transform: rotateY(1turn);
    transform: rotateY(1turn);
  }
}

/* 📱📱📱📱Mobile📱📱📱📱 */
@media(max-width: 800px){
    footer .social-media {
        font-size: 10vh;
    }

    .img-section {
        width: 50%;
        text-align: center;
    }

    .sega img {
        width: auto;
        height: 6vh;
    }

    #SEGA {
        margin-right: 2vh;
    }

    .sidenav .title {
        font-size: 2.2vh;
    }

    .selectMusic, .sidenav {
        width: 50%;
    }

    .selectMusic {
        left: 50%;
    }

    .selectMusic .majorTitle {
        font-size: 2.2vh;
    }

    .selectMusic button {
        font-size: 2.8vh;
    }

    .game {
        width: 100%;
    }

    .score img {
        width: 40%;
    }

    .left-wall, .right-wall {
        display: none;
    }

    .area {
        font-size: 2.5vh;
        margin-bottom: 125px;
        margin-top: 70px;
    }

    .object{
        background-size: 90% 100%;
    }

    .extra {
        top: 95%;
    }

    .select {
        background-size: 153% 8vh;
        margin-top: 5vh;
    }

    .charOpt {
        max-width: 95%;
    }

    .charRow{
        display: none;
    }

    .mobile {
        display: flex;
    }

    #extraInfo {
        width: 50%;
    }

    #charName {
        width: 50%;
    }
}

/* 🤫🤫🤫🤫SHHHHHHH🤫🤫🤫🤫 */
.hidden {
    display: none;
}