@import url('https://fonts.cdnfonts.com/css/sf-intermosaic');
@viewport {
    zoom: 1.0;
    min-zoom: 1.0;
    max-zoom: 1.0;
}

/* 🌐🌐🌐🌐Site🌐🌐🌐🌐 */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
}

/* 🚧🚧🚧🚧Body🚧🚧🚧🚧 */
body {
    background-color: #257BE6;
    font-size: 16px;
}

header {
    background-image: url("images/header.png");
    background-size: auto 30vh;
    background-repeat: repeat-x ;
    width: 100%;
    height: 30vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}

header img {
    width: 40vh;
    height: 24vh;
}

.subheader {
    background-image: url("images/header-bg.gif");
    height: 2vh;
    width: 100%;
    position: relative;
    padding-top: 10px;
    margin-bottom: 50px;
}

footer {
	padding: 30px;
    width: 100%;
    height: 60%;
    margin-top: 2vh;
    text-align: center;
    background-image: url("images/header-bg.gif");
    position: absolute;
    color: white;
}

footer .social-media {
    font-size: 10vh;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 400;
    text-align: inherit;
    text-shadow: none !important;
    font-size: 2.3vh;
    line-height: 1.2em;
    padding-right: 40px !important;
    padding-left: 40px !important;
    margin-top: 1vh;
    word-wrap: break-word;
}

.sega {
    height: 10vh;
    margin-top: 6vh;
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sega img {
    width: auto;
    height: 8vh;
}

.img-section {
    width: 20%;
    text-align: center;
}

/* 🎮🎮🎮🎮Game🎮🎮🎮🎮 */
.area {
    width: 100%;
    height: 55vmin;
    margin: auto;
    margin-bottom: 70px;
    padding-top: 10px;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2.5vh;
    width: 18vh;
    height: 10vh;
    background-color: #2058b6;
    border: 1px solid black;
    border-radius: 0.7vh;
    opacity: 0.8;
    position: absolute;
    z-index: 4;
}

.game {
    width: 120vh;
    height: 42vh;
    background-image: url("sprites/background.gif");
    background-size: 75vh 42vh;
    background-repeat: repeat-x;
    border-radius: 1.5vh;
    margin: auto;
    z-index: 0;
}

.game .left-wall {
    height: 110%;
    width: 50vh;
    transform: translateX(-100%);
    margin-left: 10px;
    background-color: #257BE6;
    margin: auto;
    position: absolute;
    z-index: 3;
}

.game .right-wall {
    height: 110%;
    width: 50vh;
    transform: translateX(239.5%);
    margin-right: 10px;
    background-color: #257BE6;
    margin: auto;
    position: absolute;
    z-index: 3;
}

.score {
    font-family: 'SF Intermosaic', sans-serif;
    font-size: 4vh;
    color:#103563;
    height: 3vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 1.5vh;
}

.score img {
    width: 15%;
}

#points {
    margin-left: 0.2em;
}

/* 🌀🌀🌀🌀Player🌀🌀🌀🌀 */
#sonic {
    width: 7.7vh;
    height: 10vh;
    background-image: url("sprites/sonic-idle.gif");
    background-size: 7.7vh 10vh;
    background-repeat: no-repeat;
    position: relative;
    top: 23vh;
    left: 3vh;
    z-index: 3;
}

.run {
    animation: run 4s linear running;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

@keyframes run {
    0% {
        background-image: url("sprites/sonic-start.gif");
        left: 3vh;
    }
    25% {
        left: 14vh;
    }
    50% {
        left: 31vh;
    }
    75% {
        left: 14vh;
    }
    100% {
        background-image: url("sprites/sonic-run.gif");
        left: 3vh;
    }
}

.jump {
    animation: jump 0.35s linear;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

@keyframes jump {
    0% {
        background-image: url("sprites/sonic-jump.gif");
        top: 23vh;
    }
    10% {
        top: 18.6vh;
    }
    20% {
        top: 11vh;
    }
    25% {
        top: 11vh;
    }
    50% {
        top: 11vh;
    }
    75% {
        top: 11vh;
    }
    90% {
        background-image: url("sprites/sonic-jump.gif");
        top: 18.6vh;
    }
    100% {
        top: 23vh;
    }
}

/* 🐞🐞🐞🐞Obstacle🐞🐞🐞🐞 */
.enemies {
    height: 7vh;
}

.obstacle {
    width: 10vh;
    height: 7vh;
    background-repeat: no-repeat;
    position: relative;
    left: 120vh;
    left: calc(var(--left) * 1%);
    z-index: 1;
}

#badnik1 {
    top: 8.5vh;
    background-size: 7.7vh 7vh;
}

#badnik2 {
    top: 3vh;
    background-size: 10vh 7vh;
}

.block {
    animation: block 1 linear;
    animation-duration: 3s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background-image: url('sprites/badnik1.gif');
}

.flying {
    animation: block 1 linear;
    animation-duration: 3s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background-image: url('sprites/badnik2.gif');
}

@keyframes block {
    0%{
        left: 120vh;
    }
    100% {
        left: -6vh;
    }
}

/* Background Objects */
.object {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    width: 40%;
    height: 29.8vh;
    right: -80vh;
    top: 53vh;
    z-index: -2;
}

.move {
    animation: moving 1 linear;
    animation-duration: 3s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

@keyframes moving {
    100% {
        right: 130vh;
    }
    
}

/* 🏞️🏞️🏞️🏞️Ground🏞️🏞️🏞️🏞️ */
#ground {
    background-image: url("sprites/ground.png");
    background-size: 34vh 12.4vh;
    border-radius: 1.5vh;
    position: relative;
    top: 14vh;
    width: 100%;
    height: 12.4vh;
    z-index: -1;
}

/* ♻️♻️♻️♻️Loading♻️♻️♻️♻️ */
.load-wrapper {
    display: block;
    position: absolute;
    z-index: -2;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #103563;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.load {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    animation: rotate 4s infinite;
}

@keyframes rotate {
  50% {
      transform: rotateZ(0.5turn);
  }
  100% {
    transform: rotateZ(1turn);
  }
}

/* 📱📱📱📱Mobile📱📱📱📱 */
@media(max-width: 800px){
    footer {
        height: auto;
    }

    footer .social-media {
        font-size: 10vh;
    }

    .img-section {
        width: 50%;
        text-align: center;
    }

    .score img {
        width: 20%;
    }

    .left-wall, .right-wall {
        display: none;
    }

    .area {
        margin-bottom: 125px;
    }
}

@media(max-width: 1200px){
    .right-wall {
        display: none;
    }
}

/* 🤫🤫🤫🤫SHHHHHHH🤫🤫🤫🤫 */
.hidden {
    display: none;
}