html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #2a89ff;
}

header {
    background-image: url("sprites/header.png");
    background-size: auto 200px;
    width: 100%;
    height: 200px;
    top: 0;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: #2058b6;
    border: 1px solid black;
    opacity: 0.8;
    position: absolute;
}

.click {
    display: none;
}

.game {
    width: 620px;
    height: 210px;
    background-image: url("sprites/background.gif");
    margin: auto;
}

/* Player */
#sonic {
    width: 55px;
    height: 55px;
    background-image: url("sprites/sonic.gif");
    background-size: 55px 55px;
    position: relative;
    top: 150px;
    z-index: 3;
}

.jump {
    animation: jump 0.35s linear;
}

@keyframes jump {
    0% {
        background-image: url("sprites/sonic-jump.gif");
        top:150px;
    }
    30% {
        top: 120px;
    }
    50% {
        top: 70px;
    }
    65% {
        top: 80px;
    }
    80% {
        top: 120px;
    }
    100% {
        top: 150px;
    }
}

/* Obstacle */
#obstacle {
    width: 50px;
    height: 45px;
    background-image: url("sprites/badnik1.gif");
    background-size: 48px 45px;
    position: relative;
    top: 105px;
    left: 580px;
    z-index: 1;
}

.block {
    animation: block 1s infinite linear;
}

@keyframes block {
    0% {
        left: 580px;
    }
    100% {
        left: 0px;
    }
}

#ground {
    background-image: url("sprites/ground.png");
    background-size: 200px 80px;
    position: relative;
    top: 90px;
    width: 100%;
    height: 80px;
    z-index: 0;
}

.move {
    animation: move 1s infinite linear;
}

@keyframes move {
    0% {
        background-position-x: 100%;
    }
    50% {
        background-position-x: 50%;
    }
    100% {
        background-position-x: 0%;
    }
}